<div class="omschrijving-container">
    @if (registratie.les) {
        <dt-lesuur
            class="lesuur"
            [beginlesuur]="registratie.beginLesuur"
            [eindlesuur]="registratie.eindLesuur"
            [isKwt]="registratie.kwt"
            [isRoosterToets]="registratie.roosterToets">
        </dt-lesuur>
    }
    <div class="omschrijving text-strong text-content-semi">
        <span [dtTooltip]="omschrijving" [onTouchAllowed]="true">{{ omschrijving }}</span>
    </div>
    <div class="tijdsindicatie text-moderate text-content-small-semi">{{ tijdsindicatie }}</div>
</div>
<div class="icons">
    @if (toets) {
        <i color="fg-warning-normal" hmyIcon="toets" size="medium"></i>
    }
    @if (groteToets) {
        <i color="fg-negative-normal" hmyIcon="toetsGroot" size="medium"></i>
    }
    @if (registratie.opmerkingen) {
        <i [dtTooltip]="registratie.opmerkingen" [onTouchAllowed]="true" hmyIcon="reacties" size="medium"></i>
    }
</div>
