@if (sidebarService.currentPage$ | async; as page) {
    <dt-sidebar
        #sidebar
        [icon]="page.icon"
        [title]="page.titel"
        [iconClickable]="page.iconClickable"
        (onIconClick)="page?.onIconClick()"
        (onMaskClick)="onAnnuleren(true)"
        (onCloseClick)="closeSidebar()">
        <div class="content {{ selectedTab$.value }}">
            @if ((bewerkenState$ | async) === 'editStructuur') {
                @if (toetsSoorten$ | async; as toetsSoorten) {
                    @if (resultaatLabelLijsten$ | async; as resultaatLabelLijsten) {
                        <dt-toetskolom-formulier
                            [kolom]="matrixKolom?.resultaatkolom"
                            [resultaatLabelLijsten]="resultaatLabelLijsten"
                            [periodes]="cijferPeriodes"
                            [toetsSoorten]="toetsSoorten"
                            [magBeoordelingWijzigen]="magBeoordelingWijzigen"
                            [toonDomeinvelden]="!!(toonDomeinvelden$ | async)"
                            [periode]="periode"
                            [kolomType]="kolomType"
                            (onSubmit)="onSaveToetsKolom($event.toetskolom, $event.herberekeningVereist)"
                            (onAnnuleren)="onAnnuleren()">
                        </dt-toetskolom-formulier>
                    }
                }
            }
            @if ((bewerkenState$ | async) === 'editLesgroepOmschrijving') {
                <dt-toetskolom-lesgroepomschrijving-formulier
                    [kolom]="matrixKolom"
                    (onSubmit)="onSaveLesgroepOmschrijving($event)"
                    (onAnnuleren)="onAnnuleren()">
                </dt-toetskolom-lesgroepomschrijving-formulier>
            }
            @if ((bewerkenState$ | async) === 'view') {
                <div class="tabs hide-for-tablet" [class.no-display]="hideTabs">
                    <div
                        class="resultaten-tab"
                        [class.selected]="selectedTab$.value === 'resultaten'"
                        (click)="selectedTab$.next('resultaten')">
                        Resultaten
                    </div>
                    <div
                        class="toetsinformatie-tab"
                        [class.selected]="selectedTab$.value === 'toetsinformatie'"
                        (click)="selectedTab$.next('toetsinformatie')">
                        Toetsinformatie
                    </div>
                </div>
                @if ((selectedTab$ | async) === 'toetsinformatie') {
                    @if (matrixKolom) {
                        <dt-toetskolom-detail
                            [matrixKolom]="matrixKolom"
                            [toonDomeinvelden]="!!(toonDomeinvelden$ | async)"
                            [isGeimporteerd]="isGeimporteerdeToets"
                            (onSwitchDetail)="switchDetail($event.kolom, $event.editmode, $event.terugNaarSGT)"
                            (onBewerkenClick)="toggleEditState('editStructuur')"
                            (onVerwijderenClick)="verwijderKolom()"
                            (onLesgroepOmschrijvingWijzigenClick)="toggleEditState('editLesgroepOmschrijving')"
                            (onDeeltoetsToevoegenClick)="voegDeeltoetsToe()"
                            (onDeeltoetsVerwijderen)="verwijderDeeltoets($event)">
                        </dt-toetskolom-detail>
                    }
                } @else {
                    <div class="sticky-header">
                        @if (sortering) {
                            <div class="sorteer-header pointer" #sorteerheader (click)="sorteerClick(sortering)">
                                <span class="sortering action-primary-normal text-content-small-semi">{{ sortering.veld | ucfirst }}</span>
                                <i [hmyIcon]="sortering.order.toString() === 'ASC' ? 'aZ' : 'zA'" color="action-primary-normal"></i>
                            </div>
                        }
                        @if (toetskolomGesloten) {
                            <dt-gesloten-status
                                [kolom]="matrixKolom?.resultaatkolom"
                                [magBekoeldeResultatenBewerken]="magResultatenInvoeren"
                                [geimporteerdeToets]="isGeimporteerdeToets">
                            </dt-gesloten-status>
                        }
                        <dt-resultaten-save-indicator></dt-resultaten-save-indicator>
                    </div>
                    @if (!hideGemiddelde) {
                        <div class="klasgemiddelde fg-primary-strongest text-content-semi">
                            <span>Klasgemiddelde</span>
                            <span class="gemiddelde">{{ klasgemiddelde }}</span>
                        </div>
                    }
                    @if ({ value: activeCell$ | async }; as activeCell) {
                        @for (leerlingResultaat of sortedResultaten; track trackByLeerlingId(i, leerlingResultaat); let i = $index) {
                            <div
                                class="leerling"
                                [class.large-cell]="heeftGroteResultaatLabels"
                                [class.active]="
                                    isActiveCell(
                                        activeCell.value,
                                        matrixKolom?.resultaatkolom?.id
                                            | resultaatKey: leerlingResultaat.leerling.uuid : matrixKolom?.herkansingsNummer
                                    )
                                ">
                                <dt-leerling
                                    [leerling]="$any(leerlingResultaat.leerling)"
                                    [avatarsize]="32"
                                    [avatarfontsize]="12"
                                    [verkleinLeerlingNaamFontsize]="true">
                                </dt-leerling>
                                <div class="hide-for-tablet icon-container">
                                    @if (
                                        !isActiveCell(
                                            activeCell.value,
                                            matrixKolom?.resultaatkolom?.id
                                                | resultaatKey: leerlingResultaat.leerling.uuid : matrixKolom?.herkansingsNummer
                                        ) &&
                                        (leerlingResultaat.missendeToets ||
                                            isOverschrevenRapportCijfer(leerlingResultaat) ||
                                            heeftBestaandeOpmerking(leerlingResultaat))
                                    ) {
                                        <div class="icons" cy="resultaat-opmerking-icon">
                                            @if (leerlingResultaat.missendeToets) {
                                                <i
                                                    [dtTooltip]="
                                                        gemiddeldeTooltip(matrixKolom!.resultaatkolom, leerlingResultaat, alternatiefNiveau)
                                                    "
                                                    [onTouchAllowed]="true"
                                                    [alignCenter]="false"
                                                    [maxWidth]="300"
                                                    color="action-neutral-normal"
                                                    hmyIcon="letOp"
                                                    size="small"></i>
                                            }
                                            @if (isOverschrevenRapportCijfer(leerlingResultaat)) {
                                                <i
                                                    class="overschreven-icon"
                                                    [dtTooltip]="
                                                        gemiddeldeTooltip(matrixKolom!.resultaatkolom, leerlingResultaat, alternatiefNiveau)
                                                    "
                                                    [onTouchAllowed]="true"
                                                    [alignCenter]="false"
                                                    [maxWidth]="300"
                                                    color="action-neutral-normal"
                                                    hmyIcon="persoon"
                                                    size="small"></i>
                                            }
                                            @if (heeftBestaandeOpmerking(leerlingResultaat)) {
                                                <i
                                                    [dtTooltip]="opmerkingTooltip(leerlingResultaat.resultaat)"
                                                    [onTouchAllowed]="true"
                                                    [maxWidth]="230"
                                                    color="action-neutral-normal"
                                                    hmyIcon="reacties"
                                                    size="small"></i>
                                            }
                                        </div>
                                    }
                                    @if (
                                        isActiveCell(
                                            activeCell.value,
                                            matrixKolom?.resultaatkolom?.id
                                                | resultaatKey: leerlingResultaat.leerling.uuid : matrixKolom?.herkansingsNummer
                                        )
                                    ) {
                                        <div class="actions" [@slideInRightOnEnter]>
                                            <i
                                                class="popout-option-icon"
                                                (click)="openCijferhistorie(activeCell.value!.nativeElement.id)"
                                                color="action-primary-normal"
                                                hmyIcon="klok"
                                                size="medium"
                                                data-gtm="cijferhistorie-bekijken"></i>
                                            @if (magOpmerkingToevoegen && !heeftBestaandeOpmerking(leerlingResultaat)) {
                                                <i
                                                    class="popout-option-icon"
                                                    (click)="createOrEditOpmerking(activeCell.value!)"
                                                    color="action-positive-normal"
                                                    hmyIcon="reactieToevoegen"
                                                    size="medium"></i>
                                            }
                                            @if (magOpmerkingToevoegen && heeftBestaandeOpmerking(leerlingResultaat)) {
                                                <i
                                                    class="popout-option-icon"
                                                    (click)="createOrEditOpmerking(activeCell.value!)"
                                                    color="action-primary-normal"
                                                    hmyIcon="reacties"
                                                    size="medium"></i>
                                            }
                                        </div>
                                    } @else {
                                        @if (resultaatService.cellenMetErrors$ | async; as cellen) {
                                            @if (
                                                cellen.length > 0 &&
                                                    getErrorVanCell(
                                                        cellen,
                                                        matrixKolom!.resultaatkolom.id
                                                            | resultaatKey: leerlingResultaat.leerling.uuid : matrixKolom!.herkansingsNummer
                                                    );
                                                as errorVanCell
                                            ) {
                                                <i
                                                    [hmyIcon]="errorVanCell?.icon ?? 'waarschuwing'"
                                                    [onTouchAllowed]="true"
                                                    [dtTooltip]="errorVanCell?.errorMessage"
                                                    color="action-negative-normal"
                                                    size="large"></i>
                                            }
                                        }
                                    }
                                </div>
                                <dt-resultaat-cell
                                    class="resultaat-cell"
                                    #cel
                                    [id]="
                                        matrixKolom!.resultaatkolom.id
                                            | resultaatKey: leerlingResultaat.leerling.uuid : matrixKolom!.herkansingsNummer
                                    "
                                    [resultaatkolom]="matrixKolom!.resultaatkolom"
                                    [resultaat]="leerlingResultaat.resultaat!"
                                    [readOnly]="!magResultatenInvoeren"
                                    [alternatiefNiveau]="alternatiefNiveau"
                                    [inputDisabledBijResultaatLabels]="!!(inputDisabledBijResultaatLabels$ | async)"
                                    [opmerkingToevoegenToegestaan]="magOpmerkingToevoegen"
                                    (onNieuwResultaat)="
                                        onNieuwResultaat(
                                            $event.resultaatInput,
                                            $event.isCijfer,
                                            $event.selecteerCellNaOpslaan,
                                            leerlingResultaat.leerling.uuid,
                                            leerlingResultaat.resultaat?.formattedResultaat
                                        )
                                    ">
                                </dt-resultaat-cell>
                            </div>
                        }
                    }
                }
            }
        </div>
    </dt-sidebar>
}
