<dt-popup>
    <div class="popup-content" popup-content>
        @if (inEditState$ | async) {
            <ng-container [formGroup]="formGroup">
                <div class="header">
                    @if (opmerkingInELOTonenToegestaan) {
                        <dt-zichtbaarheids-toggle-form-control
                            [label]="zichtbaarheidLabel"
                            [tooltipFn]="tooltipFn"
                            formControlName="zichtbaarheid">
                        </dt-zichtbaarheids-toggle-form-control>
                    }
                </div>
                <textarea
                    class="opmerking"
                    formControlName="opmerkingen"
                    placeholder="Typ een opmerking"
                    maxlength="4000"
                    dtAutofocus></textarea>
                <div class="buttons">
                    <hmy-button class="annuleren" (click)="popup.onClose()" label="Annuleren" mode="tertiary" />
                    <hmy-button
                        class="submit"
                        [disabled]="!formGroup.dirty || !formGroup.valid"
                        (click)="onSubmit()"
                        mode="primary"
                        type="submit"
                        label="Opslaan" />
                </div>
            </ng-container>
        } @else {
            <div class="header">
                <i color="fg-primary-normal" hmyIcon="reacties" size="large"></i>
                <span class="text-content-semi text-strong">Opmerking bekijken</span>
            </div>
            <div class="content">
                <div class="opmerking fg-on-neutral-weakest">{{ opmerkingen }}</div>
                <div class="opmerking-zichtbaarheid text-weakest text-content-small-semi">
                    @if (isZichtbaar) {
                        <i color="text-weakest" hmyIcon="zichtbaar" size="medium"></i>
                    }
                    @if (!isZichtbaar) {
                        <i color="text-weakest" hmyIcon="nietZichtbaar" size="medium"></i>
                    }
                    <span>Opmerking {{ isZichtbaar ? '' : ' niet' }} zichtbaar</span>
                </div>
            </div>
            <div class="buttons">
                <dt-verwijder-button [withBorder]="true" [hideIconForMobile]="true" (onDelete)="onVerwijderen()"> </dt-verwijder-button>
                <hmy-button class="bewerken" (click)="onBewerkenClick($event)" mode="tertiary" label="Bewerken" />
            </div>
        }
    </div>
</dt-popup>
