<i
    class="terug pointer"
    (click)="terugClick.emit()"
    hmyIcon="pijlLinks"
    dtTooltip="Terug naar overzicht"
    size="medium"
    position="bottom"
    color="action-neutral-normal"></i>
@if (inleveringenOverzicht) {
    <div class="titel-deadline">
        <span class="text-content-bold titel ellipsis">
            {{ inleveringenOverzicht.toekenning.studiewijzeritem | studiewijzeritemTitel }}
        </span>
        <span class="text-content-small-semi deadline ellipsis">
            <i hmyIcon="historie" color="action-neutral-normal" size="smallest"></i>
            {{ inleveringenOverzicht.toekenning.studiewijzeritem.inleverperiode?.eind | dtDate: 'dag_kort_dagnummer_maand_kort_tijd' }}
        </span>
    </div>
}
<dt-header-navigatie-buttons
    [heeftVolgende]="heeftVolgende"
    [heeftVorige]="heeftVorige"
    (meerOptiesClick)="meerOptiesClick.emit($event)"
    (vorigeClick)="vorigeClick.emit()"
    (volgendeClick)="volgendeClick.emit()"
    volgendeTooltip="Volgende opdracht"
    vorigeTooltip="Vorige opdracht"
    gtmVolgendeButton="volgende-inleveringen-header-navigatie"
    gtmVorigeButton="vorige-inleveringen-header-navigatie">
</dt-header-navigatie-buttons>
