<dt-popup>
    <div class="content" popup-content>
        <div class="header">
            <span class="title text-content-semi text-strong">{{ title }}</span>
            <span class="text-content-small-semi text-weak periode"
                >Signaleringen · periode {{ periodeNummer }}{{ isHuidigePeriode ? ' (huidig)' : '' }}</span
            >
        </div>
        <div class="signaleringen">
            @for (signalering of signaleringen | keyvalue; track signalering) {
                <div class="signalering">
                    <span class="text-content-semi text-strong key">{{ signalering.key }}</span>
                    <span class="text-content-bold fg-warning-normal value">{{ signalering.value }}x</span>
                </div>
            }
        </div>
        <span
            class="footer text-content-semi action-primary-normal"
            (click)="onDetailClick()"
            data-gtm="mentordashboard-toon-alle-registraties"
            >Toon alle registraties</span
        >
    </div>
</dt-popup>
