<div class="personalia">
    @if (indicatiesCounter > 0) {
        <div class="indicaties" #indicaties (click)="openIndicaties()" data-gtm="mentordashboard-indicaties-openen">
            <span class="notificatie-counter fg-on-warning-normal">{{ indicatiesCounter }}</span>
            <span class="text-content-semi">Indicaties</span>
        </div>
    }
    <dt-avatar
        class="avatar"
        [allowPhotoPopup]="false"
        [initialen]="leerling.initialen"
        [src]="leerling.pasfoto"
        [size]="72"
        [fontsize]="28"
        [lazyLoaded]="false">
    </dt-avatar>
    <span class="naam text-heading-2 text-strong">{{ leerling | volledigeNaam }}</span>
    <span class="adres text-content-semi text-weakest">
        {{ leerling.adres | adres: '• ' }}{{ leerling.geboortedatum | dtDate: 'dagnummer_maand_kort' }}
    </span>
    <div class="labels">
        @for (label of labels; track $index) {
            <hmy-pill
                class="label"
                [attr.data-gtm]="label.gtmTag"
                [text]="label.label"
                [hoverable]="label.heeftRecht"
                [class.pointer]="label.heeftRecht"
                (click)="onLabelClick(label.deeplink, label.heeftRecht)">
            </hmy-pill>
        }
    </div>
</div>
<div class="buttons">
    @if (leerling.email || heeftBerichtenRecht) {
        <div class="button" #berichtButton [class.popup-open]="berichtPopupOpen" (click)="onBerichtClick()" cy="leerlingpersonalia-bericht">
            <i [sizes]="['large', 'large', 'medium']" hmyIcon="bericht"></i>
            <span class="text-content-semi show-for-tablet">Bericht sturen</span>
            <i #berichtIcon hmyIcon="chevronOnder" size="small"></i>
        </div>
    }
    @if (telefoonnummers.length > 0) {
        <div class="button" #telefoonButton [class.popup-open]="telefoonnummerPopupOpen" (click)="onPhoneNumberClick()">
            <i [sizes]="['large', 'large', 'medium']" hmyIcon="telefoon"></i>
            <span class="text-content-semi show-for-tablet">Telefoon</span>
            <i #telefoonIcon hmyIcon="chevronOnder" size="small"></i>
        </div>
    }
</div>
