@if (viewModel(); as data) {
    <dt-header class="met-border" [metNavigatie]="true" titel="Voortgangsdossier" icon="voortgangsdossier">
        <div class="lesgroep-onderwijssoort-navigatie">
            <dt-background-icon [color]="$any(data.matrix.lesgroep.color)" [sizes]="['medium', 'small']" icon="groep"> </dt-background-icon>
            <div class="lesgroep-action" #lesgroep (click)="openResultatenQuickNavPopup()">
                <span class="lesgroep">{{ data.matrix.lesgroep.naam }} </span>
            </div>
            @if (onderwijssoortOpties().length > 1) {
                <i class="chevron" hmyIcon="chevronRechts" size="smallest" color="fg-neutral-normal"> </i>
                <hmy-dropdown
                    class="onderwijssoort-selectie"
                    [modalOnMobile]="true"
                    [buttonHeight]="40"
                    [items]="onderwijssoortOpties()"
                    [selected]="selectedOnderwijssoort()"
                    [withBorder]="false"
                    (onSelectionChanged)="selectOnderwijssoort($event, data.niveaus)"
                    data-gtm="voortgangsdossier-wisselen-onderwijssoort"
                    listWidth="fit-options" />
            }
            <i
                class="icon-opties hide-for-tablet"
                [sizes]="['large', 'large', 'large', 'medium']"
                (click)="onMoreOptions(data.matrix.lesgroep)"
                hmyIcon="opties"></i>
        </div>
    </dt-header>
    <div class="content">
        <div class="scroll-wrapper" [style.grid-template-columns]="templateColumns">
            <div class="lesgroep-leerlingen">
                <div class="lesgroep-container">
                    @if (onderwijssoortVoortgangsdossierNiveauOpties().length > 1) {
                        <hmy-dropdown
                            class="toetsdossier-selectie show-for-tablet"
                            [modalOnMobile]="true"
                            [buttonHeight]="40"
                            [items]="onderwijssoortVoortgangsdossierNiveauOpties()"
                            [selected]="selectedVoortgangsdossierNiveau()"
                            (onSelectionChanged)="onNiveauClick($event)"
                            data-gtm="voortgangsdossier-wisselen-niveau-onderwijssoort"
                            listWidth="fit-options" />
                    }
                    <i
                        class="icon-opties"
                        #moreOptions
                        [sizes]="['large', 'large', 'large', 'medium']"
                        (click)="onMoreOptions(data.matrix.lesgroep)"
                        hmyIcon="opties"></i>
                </div>
                <div class="mobile-buttons text-content-semi hide-for-tablet">
                    <div
                        [ngClass]="{ selected: selectedTab$.value === 'leerlingen' }"
                        (click)="selectedTab$.next('leerlingen')"
                        cy="resultaten-leerlingen-tab">
                        Leerlingen
                    </div>
                    <div
                        [ngClass]="{ selected: selectedTab$.value === 'toetsen' }"
                        (click)="selectedTab$.next('toetsen')"
                        cy="resultaten-toetsen-tab">
                        Toetsen
                    </div>
                </div>
                @if (toonLeerlingen) {
                    <div class="leerling-bar">
                        <div class="sorteer-container">
                            <div class="sorteer-header pointer" #sorteerheader (click)="sorteerClick(data.leerlingSortering)">
                                <span class="text-content-small-semi">{{ data.leerlingSortering.veld | ucfirst }}</span>
                                <i
                                    class="icon-sort"
                                    [hmyIcon]="data.leerlingSortering.order.toString() === 'ASC' ? 'aZ' : 'zA'"
                                    size="smallest"></i>
                            </div>
                            <dt-resultaten-save-indicator class="show-for-tablet"></dt-resultaten-save-indicator>
                        </div>
                        <div class="klasgemiddelde fg-primary-strongest text-content-semi show-for-tablet">Klasgemiddelde</div>
                        @for (leerling of data.sortedLeerlingen; track leerling.id; let i = $index) {
                            <div
                                class="leerling-container"
                                [attr.data-gtm]="isPhoneOrTabletPortrait ? 'resultaten-leerling-mobile' : null"
                                (mouseenter)="resultaatService.nextIndexToHighlight(i)"
                                (mouseleave)="resultaatService.nextIndexToHighlight(null)"
                                (click)="isPhoneOrTabletPortrait ? openLeerlingResultaten(leerling) : resultaatService.nextIndexToPin(i)">
                                <dt-leerling
                                    [leerling]="$any(leerling)"
                                    [avatarsize]="32"
                                    [avatarfontsize]="12"
                                    [verkleinLeerlingNaamFontsize]="true"
                                    [class.highlight]="(highlight$ | async) === i || (activeLeerling$ | async) === leerling.uuid"
                                    [class.actief]="(pinned$ | async) === i"
                                    [toonMoreOptions]="!isPhoneOrTabletPortrait"
                                    [toonWerkdruk]="false"
                                    [heeftNotificatie]="oudResultaatInDateRange(leerling.datumInLesgroepVoorOvernemenResultaten)"
                                    [notitieboekToegankelijk]="!!leerling.notitieboekToegankelijk"
                                    notificatieTooltip="Nieuwe in deze lesgroep. Je kan resultaten
                  uit de vorige lesgroep importeren.">
                                </dt-leerling>
                                @if ((pinned$ | async) === i) {
                                    <dt-background-icon
                                        class="pinned-icon is-pinned"
                                        icon="pinned"
                                        color="neutral"
                                        size="smallest"></dt-background-icon>
                                }
                                @if ((pinned$ | async) !== i) {
                                    <dt-background-icon
                                        class="pinned-icon hover show-for-desktop"
                                        [hoverable]="true"
                                        icon="pinned"
                                        color="neutral"
                                        size="smallest">
                                    </dt-background-icon>
                                }
                            </div>
                        }
                    </div>
                }
            </div>
            @if (toonToetsen) {
                @for (periode of data.matrix.periodes; track periode.cijferPeriode.id; let i = $index) {
                    <dt-resultaat-periode
                        [periode]="periode"
                        [collapsed]="resultaatService.periodeCollapsedStatus$.value[periode.cijferPeriode.nummer]"
                        [leerlingen]="data.sortedLeerlingen"
                        [highlight]="highlight$ | async"
                        [pinned]="pinned$ | async"
                        [magBewerken]="data.magKolomBewerken"
                        [magBekoeldePeriodeBewerken]="data.magBekoeldePeriodeBewerken"
                        [alternatiefNiveau]="data.alternatiefNiveau"
                        [kolomZichtbaarheid]="
                            data.kolommenzichtbaarheid[periode.cijferPeriode.nummer - 1]
                                ? data.kolommenzichtbaarheid[periode.cijferPeriode.nummer - 1]
                                : defaultPeriodeKolomZichtbaarheid
                        "
                        [lesgroepId]="data.lesgroepId"
                        (onKolomToggle)="toggleKolom($event, periode.cijferPeriode.nummer, data.kolommenzichtbaarheid)"
                        (onCollapseToggle)="togglePeriodeStatus(periode.cijferPeriode.nummer, $event)">
                    </dt-resultaat-periode>
                }
            }
            @if (onderwijssoortVoortgangsdossierNiveauOpties().length > 1) {
                <hmy-dropdown
                    class="toetsdossier-selectie floating-options hide-for-tablet"
                    [modalOnMobile]="true"
                    [buttonHeight]="40"
                    [withBorder]="false"
                    [items]="onderwijssoortVoortgangsdossierNiveauOpties()"
                    [selected]="selectedVoortgangsdossierNiveau()"
                    (onSelectionChanged)="onNiveauClick($event)"
                    data-gtm="voortgangsdossier-wisselen-niveau-onderwijssoort"
                    listWidth="fit-options" />
            }
        </div>
    </div>
    @if (toetskolomSidebar$ | async; as kolomData) {
        <dt-toetskolom-sidebar
            [@allowLeaveAnimation]
            [kolomId]="kolomData.kolomId"
            [leerlingen]="kolomData.leerlingen"
            [kolomType]="kolomData.kolomType"
            [herkansingsNummer]="kolomData.herkansingsNummer"
            [alternatiefNiveau]="data.alternatiefNiveau"
            [sortering]="data.leerlingSortering"
            [periode]="kolomData.periode"
            [lesgroep]="data.matrix.lesgroep"
            [cijferPeriodes]="data.cijferPeriodes"
            [voortgangsdossierId]="data.matrix.voortgangsdossier.id"
            [leerlingMissendeToetsen]="kolomData.leerlingMissendeToetsen"
            (saveToetsKolom)="onToetskolomSaved($event)"
            (deleteToetsKolom)="deleteToetsKolom($event, data.matrix.lesgroep.id)">
        </dt-toetskolom-sidebar>
    }
    @if (leerlingResultatenSidebar$ | async; as kolomData) {
        <dt-leerling-resultaten-sidebar
            [@allowLeaveAnimation]
            [leerling]="kolomData.leerling"
            [initialVoortgangsdossierMatrix]="data.matrix"
            [alternatiefNiveau]="data.alternatiefNiveau"
            [lesgroepId]="data.matrix.lesgroep.id">
        </dt-leerling-resultaten-sidebar>
    }
} @else {
    <dt-header [metNavigatie]="true" titel="Voortgangsdossier" icon="voortgangsdossier"></dt-header>
    <div class="loading">
        <hmy-spinner />
    </div>
}
@if (showSuccesMessage) {
    <dt-message
        class="succes-message"
        [@slideInUpOnEnter]
        [@slideOutDownOnLeave]
        [text]="succesMessage"
        [duration]="3000"
        [isToast]="true"
        (onClose)="showSuccesMessage = false"
        soort="ok">
    </dt-message>
}
