<div class="wrapper">
    <img class="old-browser-image" src="../assets/img/old-browser.png" />
    <div class="title text-head">Oeps, je gebruikt een verouderde browser</div>
    <div>Wil je optimaal gebruik kunnen maken van Somtoday Docent?</div>
    <div class="text-content-bold">Download de nieuwste versie van</div>
    <div class="fire-chrome">
        <a href="https://www.mozilla.org/nl/firefox/new/" target="_blank">
            <img src="../assets/img/firefox-logo.png" />
        </a>
        <div class="vertical-line"></div>
        <a href="https://www.google.nl/intl/nl/chrome/" target="_blank">
            <img src="../assets/img/chrome-logo.png" />
        </a>
    </div>
    <div class="text-content-bold">Gebruik je Windows 10?</div>
    <div>Dan kun je de standaard <a id="edge-link">Edge Browser</a> gebruiken.</div>
    <div class="horizontal-line"></div>
    <div>Je wilt óf kunt geen andere browser gebruiken?</div>
    <button (click)="somtodayButtonClick()">Ga terug naar Somtoday</button>
</div>
