<dt-menu class="show-for-phone-only"></dt-menu>
@if (metNavigatie) {
    <div class="custom-navigatie">
        <ng-content></ng-content>
    </div>
}
<div class="header">
    @if (!metNavigatie) {
        <div class="title text-heading-2"><i [hmyIcon]="icon" [sizeInPx]="24"></i>{{ titel }}</div>
    }
    <i
        class="header-icon"
        #zoeken
        (click)="openZoekenPopup()"
        hmyIcon="zoeken"
        color="action-primary-normal"
        size="large"
        hmyTooltip="Zoeken (ctrl+spatie)"
        position="bottom"
        data-gtm="menu-item-zoek"></i>
    @if (heeftBerichtenInzienRecht()) {
        <div class="berichten-container header-icon" (click)="openBerichtenSidebar()">
            <i
                color="action-primary-normal"
                hmyIcon="bericht"
                hmyTooltip="Berichten"
                size="large"
                position="bottom"
                data-gtm="menu-item-berichten">
            </i>
            @if (aantalOngelezenBerichten$ | async; as aantalOngelezenBerichten) {
                @if (aantalOngelezenBerichten > 0) {
                    <div class="notificatie-counter">
                        {{ aantalOngelezenBerichten > 99 ? '99+' : aantalOngelezenBerichten }}
                    </div>
                }
            }
        </div>
    }
    <i
        class="header-icon feedback"
        #feedback
        (click)="openFeedbackOpties()"
        hmyIcon="feedback"
        color="action-primary-normal"
        size="large"
        hmyTooltip="Feedback"
        position="bottom"
        cy="feedback"></i>
    <div class="avatar" #avatarContainer>
        @if (medewerker(); as medewerker) {
            <dt-avatar
                [src]="medewerker.pasfoto"
                [initialen]="medewerker.initialen"
                [bordersize]="2"
                [allowPhotoPopup]="false"
                [lazyLoaded]="false"
                (click)="toggleProfileMenu()"
                hmyTooltip="Account en instellingen"
                position="bottom"
                altTag="Account-opties - {{ medewerker | volledigeNaam }}"
                cy="profiel"></dt-avatar>
        }
        @if (isUpdateBeschikbaar()) {
            <i color="fg-warning-normal" hmyIcon="waarschuwing" size="medium"> </i>
        }
    </div>
    <div
        class="naar-somtoday-knop hide-for-phone-only"
        [elementOffset]="-14"
        (click)="onSomtodayButtonClicked()"
        hmyTooltip="{{ (isCoreReturnUrlSet$ | async) ? 'Terug naar Somtoday' : 'Naar Somtoday' }}"
        position="bottom"
        data-gtm="menu-item-terug-naar-somtoday">
        <i color="action-primary-normal" hmyIcon="terugNaarSomtoday" size="medium"></i>
    </div>
</div>

<ng-template #instellingenModal>
    @if (medewerker(); as medewerker) {
        <dt-instellingen-modal
            [docent]="medewerker"
            [versie]="versie"
            [heeftUpdate]="!!isUpdateBeschikbaar()"
            (uitloggen)="authService.logoff()" />
    }
</ng-template>
