<i class="terug fill-background-6" (click)="terugClick.emit()" hmyIcon="pijlLinks" size="medium"></i>

<div class="avatar-vak" (click)="onVakClick()">
    <dt-avatar
        #avatar
        [src]="leerling.pasfoto"
        [initialen]="leerling.initialen"
        [size]="32"
        [fontsize]="12"
        [allowPhotoPopup]="false"
        [lazyLoaded]="false"
        (click)="vakClick.emit(avatarRef)"
        position="bottom">
    </dt-avatar>
    <span class="vak-naam text-content-bold" cy="header-vak-naam">{{ vaknaam }}</span>
    <i class="chevron fill-typography-5" hmyIcon="chevronOnder" size="smallest"> </i>
</div>

<i class="more-options" #moreOptionsIcon (click)="onMeerOptiesClick()" cy="header-more-options" hmyIcon="opties" size="large"></i>
