<dt-popup>
    <form class="content" [formGroup]="form" (ngSubmit)="onSubmit()" popup-content>
        <div class="informatie">
            <div class="text-content-semi text-strong">Notitie zichtbaar maken voor</div>
        </div>
        <div class="deel-buttons">
            <hmy-checkbox formControlName="docenten" label="Docenten" />
            <hmy-checkbox formControlName="mentoren" label="Mentoren" />
        </div>
        <div class="button-bar">
            <dt-outline-button (click)="onAnnuleren()" color="neutral">Annuleren</dt-outline-button>
            <button [disabled]="!form.dirty" buttonType="positive" type="submit" data-gtm="notitieboek-zichtbaarheid-aanpassen">
                {{ submitButtonText }}
            </button>
        </div>
    </form>
</dt-popup>
