<dt-popup>
    <div class="container" [class.geen-elo-toegang]="!heeftToegangTotElo" popup-content>
        <div class="links">
            <dt-popup-button
                (click)="addSwi(huiswerkType.HUISWERK)"
                icon="huiswerk"
                size="medium"
                color="primary"
                data-gtm="swi-toevoegen-huiswerk"
                text="Huiswerk">
            </dt-popup-button>
            <dt-popup-button
                (click)="addSwi(huiswerkType.TOETS)"
                icon="toets"
                size="medium"
                color="warning"
                data-gtm="swi-toevoegen-toets"
                text="Toets">
            </dt-popup-button>
            <dt-popup-button
                (click)="addSwi(huiswerkType.GROTE_TOETS)"
                icon="toetsGroot"
                size="medium"
                color="negative"
                data-gtm="swi-toevoegen-grote-toets"
                text="Grote toets">
            </dt-popup-button>
            @if (heeftToegangTotElo) {
                <dt-popup-button
                    (click)="addSwi(huiswerkType.LESSTOF)"
                    icon="lesstof"
                    size="medium"
                    color="positive"
                    data-gtm="swi-toevoegen-lesstof"
                    text="Lesstof">
                </dt-popup-button>
            }
            @if ((!week || inSjabloon) && showInleveropdracht) {
                <dt-popup-button
                    (click)="addSwi(huiswerkType.HUISWERK, true)"
                    icon="inleveropdracht"
                    size="medium"
                    color="alternative"
                    data-gtm="swi-toevoegen-inleveropdracht"
                    text="Inleveropdracht">
                </dt-popup-button>
            }
            @if (onStudiewijzerClick || onSjabloonClick) {
                <div class="divider"></div>
            }
            @if (onStudiewijzerClick) {
                <dt-popup-button
                    (click)="openStudiewijzerSelectie()"
                    icon="studiewijzer"
                    size="medium"
                    data-gtm="swi-toevoegen-uit-studiewijzer"
                    text="Uit studiewijzer">
                </dt-popup-button>
            }
            @if (showUitMethode && (kanToevoegenUitMethode$ | async)) {
                <dt-popup-button
                    (click)="openMethodeInhoudSelectieSidebar()"
                    icon="methode"
                    size="medium"
                    data-gtm="swi-toevoegen-uit-methode"
                    text="Uit methode">
                </dt-popup-button>
            }
            @if (onSjabloonClick) {
                <dt-popup-button
                    (click)="openSjabloonSelectie()"
                    icon="sjabloon"
                    size="medium"
                    data-gtm="swi-toevoegen-uit-sjabloon"
                    text="Uit sjabloon">
                </dt-popup-button>
            }
        </div>
    </div>
</dt-popup>
