<dt-sidebar #sidebar (onMaskClick)="closeSidebar()" (onCloseClick)="closeSidebar()" title="Maatregelen bewerken">
    <div class="formulier-container">
        <form class="form" id="ngForm" [formGroup]="maatregelForm" (ngSubmit)="onSubmitClick()">
            <div class="control">
                <label>Maatregel<span class="fg-warning-normal">*</span></label>
                <dt-form-dropdown
                    [scrollIntoView]="false"
                    [opties]="maatregelenOptions"
                    placeholder="Kies een maatregel"
                    formControlName="maatregel"
                    cy="maatregel-maatregel-field">
                </dt-form-dropdown>
                @if (maatregelInactiefMessage) {
                    <dt-message [closable]="false" [text]="maatregelInactiefMessage" soort="info"> </dt-message>
                }
            </div>

            <div class="control">
                <label>Datum<span class="fg-warning-normal">*</span></label>
                <dt-datepicker [schooljaar]="schooljaar" placeholder="" formControlName="datum" cy="maatregel-datum-field"> </dt-datepicker>
            </div>

            <div class="control">
                <label>Opmerking</label>
                <textarea
                    autosize
                    formControlName="opmerking"
                    placeholder="Schrijf een korte opmerking"
                    cy="maatregel-opmerking-field"></textarea>
            </div>

            <div class="checkbox-control">
                <hmy-checkbox formControlName="afgehandeld" cy="maatregel-afgehandeld-field" />
                <label>Maatregel afgehandeld</label>
            </div>
        </form>

        <div class="buttons">
            <dt-outline-button class="cancel" (click)="closeSidebar()" color="neutral">Annuleren</dt-outline-button>
            <button
                class="opslaan"
                [disabled]="maatregelForm.valid && maatregelForm.dirty ? null : true"
                (click)="onSubmitClick()"
                type="submit"
                data-gtm="maatregeltoekenning-opslaan">
                Opslaan
            </button>
        </div>
    </div>
</dt-sidebar>
