<div class="info">
    <div class="text-content-semi text-strong text-ellipsis">{{ maatregeltoekenning.maatregel.omschrijving }}</div>
    @if (editMode && maatregeltoekenning.heeftFormulier) {
        <i class="action" (click)="printFormulier()" hmyIcon="printen" size="medium" dtTooltip="Formulier afdrukken"></i>
    }
    <div class="text-small-content-semi text-weak datum">
        {{ maatregeltoekenning.maatregelDatum | dtDate: 'dag_kort_dagnummer_maand_kort' }}
    </div>
    @if (editMode) {
        <i
            class="action"
            #moreOptions
            *dtHeeftRecht="['leerlingAfwezigheidMaatregelBewerkenRecht']"
            [class.is-popup-open]="isPopupOpen"
            (click)="openOptionsPopup()"
            hmyIcon="opties"
            size="medium"></i>
    }
</div>
@if (maatregeltoekenning.opmerkingen) {
    <div class="opmerking text-small-content text-moderate">
        {{ maatregeltoekenning.opmerkingen }}
    </div>
}
@if (maatregeltoekenning.veroorzaaktDoor) {
    <div class="veroorzaakt-door text-label-semi text-weakest">Automatisch toegekend wegens: {{ maatregeltoekenning.veroorzaaktDoor }}</div>
}
