@if (historischeResultaten$ | async; as historischeResultaten) {
    @if (historischeResultaten.length > 0) {
        <div class="resultaat-container">
            @for (historischResultaat of historischeResultaten; track historischResultaat) {
                <div class="historisch-resultaat">
                    <span class="datum text-content-small">
                        {{ historischResultaat.datumInvoer | dtDate: 'dag_kort_dagnummer_maand_kort_tijd' }}
                    </span>
                    <span class="medewerker text-content-small text-weak">{{ historischResultaat.medewerker | volledigeNaam }}</span>
                    <span
                        class="resultaat text-content-small-semi text-strong"
                        [class.onvoldoende]="!historischResultaat.voldoende"
                        [class.vrijstelling]="historischResultaat.vrijstelling"
                        [class.niet-gemaakt]="historischResultaat.toetsNietGemaakt">
                        {{
                            alternatiefNiveau
                                ? historischResultaat.formattedResultaatAfwijkendNiveau
                                : historischResultaat.formattedResultaat
                        }}
                    </span>
                </div>
            }
        </div>
    } @else {
        <div class="geen-resultaten">
            <span class="text-weakest text-content-small-semi">Geen cijferhistorie</span>
        </div>
    }
} @else {
    <hmy-spinner [centeredInParent]="true" />
}
