<dt-popup>
    <div class="content" popup-content>
        <div class="header">
            <i color="fg-primary-strongest" hmyIcon="downloaden" size="large"></i>
            <span class="text-content-semi fg-primary-strongest">Selecteer een resultaat</span>
        </div>
        @if (importeerbareResultaten$ | async; as importeerbareResultaten) {
            @if (importeerbareResultaten.length > 0) {
                <div class="periodes">
                    @for (periode of importeerbareResultaten; track periode) {
                        <div class="periode">
                            <div class="periode-header">
                                <span class="text-content-semi fg-primary-strongest">Periode {{ periode.periodeNummer }}</span>
                            </div>
                            @for (importeerbaarResultaat of periode.importeerbareResultaten; track importeerbaarResultaat) {
                                <div class="resultaat pointer" (click)="onResultaatClick(importeerbaarResultaat.resultaat)">
                                    <div class="afkorting-container">
                                        <span class="afkorting text-strong text-content-small-semi">{{
                                            importeerbaarResultaat.toetskolom.code
                                        }}</span>
                                        @if (importeerbaarResultaat.resultaat.herkansingsNummer) {
                                            <span class="herkansing dot text-strong text-content-semi">•</span>
                                        }
                                        @if (importeerbaarResultaat.resultaat.herkansingsNummer) {
                                            <span class="herkansing fg-primary-normal text-content-small-semi">
                                                Her {{ importeerbaarResultaat.resultaat.herkansingsNummer }}
                                            </span>
                                        }
                                    </div>
                                    @if (importeerbaarResultaat.toetskolom.type === resultaatKolomType.SAMENGESTELDE_TOETS) {
                                        <i color="text-weakest" hmyIcon="samengesteldeToets" size="smallest"></i>
                                    }
                                    <div class="weging-container">
                                        <i class="weging-icon" color="text-weakest" hmyIcon="weging" size="smallest"></i>
                                        <span class="weging text-content-small text-weakest">
                                            {{
                                                importeerbaarResultaat.toetskolom.type === resultaatKolomType.DEELTOETS
                                                    ? $any(importeerbaarResultaat.toetskolom).deeltoetsWeging
                                                    : $any(importeerbaarResultaat.toetskolom).weging
                                            }}x
                                        </span>
                                    </div>
                                    <span
                                        class="text-content-semi resultaat-value"
                                        [class.onvoldoende]="importeerbaarResultaat.resultaat | onvoldoende: alternatiefNiveau : false">
                                        {{
                                            $any(importeerbaarResultaat.resultaat)[resultaatLabelProperty]?.afkorting ??
                                                $any(importeerbaarResultaat.resultaat)[resultaatProperty]
                                        }}
                                    </span>
                                    <span
                                        class="omschrijving text-content-small-semi text-weak"
                                        [dtTooltip]="importeerbaarResultaat.toetskolom.omschrijving"
                                        [showIfEllipsed]="true"
                                        [onTouchAllowed]="true">
                                        {{ importeerbaarResultaat.toetskolom.omschrijving }}
                                    </span>
                                </div>
                            }
                        </div>
                    }
                </div>
            } @else {
                <span class="text-content-semi geen-resultaten text-weakest"> Er zijn geen resultaten gevonden voor deze leerling </span>
            }
        }
    </div>
</dt-popup>
