@if (groepsoverzichtView$ | async; as viewModel) {
    <div class="header-buttons">
        <div class="header-left">
            <hmy-dropdown
                [modalOnMobile]="true"
                [buttonHeight]="40"
                [items]="tijdspanOptiesDropdown()"
                [selected]="viewModel.tijdspan"
                (onSelectionChanged)="selectTijdspanOptie($event)"
                mobileModalTitle="Notities per schooljaar"
                listWidth="fit-options"
                data-gtm="groepsoverzicht-tijdspan-selectie"
                cy="tijdspan-button" />
            <div class="show-for-tablet periode-text">
                {{ viewModel.periodeText }}
            </div>
        </div>
        <dt-outline-button
            class="categorie-button"
            #weergave
            (click)="openWeergavePopup(viewModel.registraties, viewModel.weergaves)"
            data-gtm="groepsoverzicht-weergave-selectie"
            cy="weergave-button"
            icon="blokken"
            iconOnlyRangeEnd="tablet-portrait">
            Weergave
        </dt-outline-button>
    </div>
    <div class="hide-for-tablet periode-text">
        {{ viewModel.periodeText }}
    </div>
    @if (!(showLoader$ | async) && viewModel.filteredRegistraties; as registraties) {
        <div class="registraties">
            @for (registratie of registraties; track trackById($index, registratie)) {
                <dt-groepsoverzicht-categorie-box [registratie]="registratie" [tijdspan]="viewModel.tijdspan.data" />
            }
            @if (viewModel.showEmptyCategoriesToggle) {
                <span
                    class="hide-for-tablet category-toggle text-content-semi action-primary-strong"
                    (click)="toggleEmptyCategories()"
                    cy="lege-categorie-toggle"
                    data-gtm="groepsoverzicht-lege-categorie-toggle">
                    {{ viewModel.showEmptyCategories ? 'Verberg lege categorieën' : 'Toon lege categorieën' }}
                </span>
            }
        </div>
    }
    @if (viewModel.weergaves.length === 0) {
        <div class="geen-registraties text-content-semi">
            <span class="text-weak">Geen categorieën geselecteerd</span>
            <span
                class="weergave-wijzigen action-primary-normal pointer"
                (click)="openWeergavePopup(viewModel.registraties, viewModel.weergaves)">
                <i class="action-primary-normal" hmyIcon="settings"> </i>Weergave wijzigen
            </span>
        </div>
    }
    @if (viewModel.geenCijferperiode && viewModel.weergaves.length > 0) {
        <div class="geen-registraties text-content-semi">
            <span class="text-weak">Er zijn geen periodes beschikbaar.</span>
            <span class="geen-periodes-alternatieven text-weak">
                Bekijk <a [inline]="true" [useEllipsis]="false" (click)="selectTijdspanOptie('Laatste 7 dagen')">de laatste 7 dagen</a>,
                <a [inline]="true" [useEllipsis]="false" (click)="selectTijdspanOptie('Laatste 30 dagen')">de laatste 30 dagen</a>,
                <a [inline]="true" [useEllipsis]="false" (click)="selectTijdspanOptie('Huidig schooljaar')">dit schooljaar</a>
            </span>
        </div>
    }
    @if (showWeergaveOpgeslagenMessage) {
        <dt-message
            [@slideInUpOnEnter]
            [@slideOutDownOnLeave]
            [duration]="3000"
            [isToast]="true"
            (onClose)="showWeergaveOpgeslagenMessage = false"
            cy="weergave-opgeslagen-bericht"
            text="Weergave opgeslagen"
            soort="ok" />
    }
}

@if (showLoader$ | async) {
    <hmy-spinner [centeredInParent]="true" />
}
