<dt-sidebar
    [title]="sidebar.title"
    [avatar]="sidebarAvatar"
    (onMaskClick)="sidebar.onMaskClick?.()"
    (onCloseClick)="sidebar.onCloseClick?.()">
    @if (registratieDetail$ | async; as registratieDetail) {
        <div class="container">
            <div class="registratie-totalen" [class.double-row]="isAfwezigKolom" cy="aantal-totaal">
                <div class="totalen-block">
                    <span class="totalen-label text-content-small-semi text-weak">Totaal</span>
                    <span class="totalen-value text-heading-2 text-strong">{{ registratie.aantalRegistraties }}x</span>
                </div>
                <div class="totalen-block" cy="lesuren-totaal">
                    <span class="totalen-label text-content-small-semi text-weak">Lesmomenten</span>
                    <div class="lesuren">
                        <span class="totalen-value text-heading-2 text-strong">
                            {{ formatPercentageAfwezig(registratie.aantalLessen, totaalAantalLessen) }}%
                        </span>
                        <span class="aantal-afwezig">{{ registratie.aantalLessen }}/{{ totaalAantalLessen }}</span>
                    </div>
                </div>
                @if (isAfwezigKolom) {
                    <div class="totalen-block uren-totaal" cy="uren-totaal">
                        <span class="totalen-label text-content-small-semi text-weak">Uren</span>
                        <span class="totalen-value text-heading-2 text-strong">
                            {{ registratie.totaalMinuten | urenDuration }}
                        </span>
                    </div>
                }
                <div class="totalen-block" [class.mobile-extra-wide]="!isAfwezigKolom" cy="toetsmomenten-totaal">
                    <span class="totalen-label text-content-small-semi text-weak">Toetsmomenten</span>
                    <span class="totalen-value text-heading-2 text-strong">{{ registratieDetail.aantalToetsmomenten }}x</span>
                </div>
            </div>
            @for (maand of registratieDetail.registratieMaanden; track maand) {
                <div>
                    <div class="maand-header">
                        <div class="maand-container">
                            <span class="maand text-content-semi fg-primary-strongest"> {{ maanden[maand.maand] }}</span>
                            @if (maanden[maand.maand] === huidigeMaand) {
                                <div
                                    class="hide-for-tablet huidige-week notificatie-smallest-alt-2"
                                    [onTouchAllowed]="true"
                                    dtTooltip="Deze maand"></div>
                                <span class="show-for-tablet deze-maand text-content-semi text-weak"> (deze maand) </span>
                            }
                        </div>
                        @if (isAfwezigKolom) {
                            <span class="uur text-content-semi fg-primary-strongest"> {{ maand.totaalMinuten | urenDuration }} uur </span>
                        }
                        @if (!isAfwezigKolom) {
                            <span class="aantal text-content-semi fg-primary-strongest"> {{ maand.aantalRegistraties }}x</span>
                        }
                    </div>
                    <dt-leerlingregistraties-detail-lijst [registraties]="maand.registraties" [isAfwezigKolom]="isAfwezigKolom">
                    </dt-leerlingregistraties-detail-lijst>
                </div>
            }
        </div>
    } @else {
        <hmy-spinner [centeredInParent]="true" />
    }
</dt-sidebar>
