<dt-sidebar #sidebar [title]="leerling | volledigeNaam" [showHeader]="false" (onMaskClick)="closeSidebar()">
    <div class="content">
        <header>
            <div class="leerling-header">
                <dt-avatar [src]="leerling.pasfoto" [initialen]="leerling.initialen" [size]="32" [fontsize]="12"> </dt-avatar>
                <span class="naam text-content-bold">{{ leerling | volledigeNaam }}</span>
            </div>
            <dt-resultaten-save-indicator [withBackground]="true"></dt-resultaten-save-indicator>
            <i (click)="closeSidebar()" color="action-neutral-weak" hmyIcon="sluiten" size="medium" cy="sluit-sidebar-icon"></i>
        </header>
        @for (periodeResultaten of leerlingPeriodeResultaten$ | async; track trackByPeriodeKolomId($index, periodeResultaten)) {
            <div class="periodes">
                <div class="periode-header text-content-semi">
                    <div class="periode-naam">{{ periodeResultaten.matrixPeriode.cijferPeriode | cijferPeriodeNaam }}</div>
                </div>
                @for (kolomResultaat of periodeResultaten.resultaten; track trackByKolomResultaatId($index, kolomResultaat)) {
                    <div
                        class="resultaatkolommen"
                        [class.active]="
                            isActiveCell(
                                activeCell$.value,
                                kolomResultaat.matrixKolom.resultaatkolom.id
                                    | resultaatKey: leerling.uuid : kolomResultaat.matrixKolom.herkansingsNummer
                            )
                        "
                        [class.herkansing]="kolomResultaat.matrixKolom.herkansingsNummer">
                        <div
                            class="ellipsis text-content-small-semi kolom-info"
                            [class.herkansing]="!!kolomResultaat.matrixKolom.herkansingsNummer">
                            @if (!kolomResultaat.matrixKolom.herkansingsNummer) {
                                <span class="code">{{ kolomResultaat.matrixKolom.resultaatkolom.code }}<br /></span>
                                <span class="text-weak">{{ kolomResultaat.matrixKolom.resultaatkolom.omschrijving }}</span>
                            }
                            @if (kolomResultaat.matrixKolom.herkansingsNummer) {
                                <i
                                    class="icon-pijl-afslaan-rechts"
                                    color="bg-neutral-strongest"
                                    hmyIcon="pijlAfslaanRechts"
                                    size="medium"></i>
                                <span class="herkansing text-moderate"> Her {{ kolomResultaat.matrixKolom.herkansingsNummer }}</span>
                            }
                        </div>
                        <dt-toetskolom-icons
                            [basisResultaat]="kolomResultaat"
                            [leerling]="leerling"
                            [matrixKolom]="kolomResultaat.matrixKolom"
                            [lesgroepId]="lesgroepId"
                            [alternatiefNiveau]="alternatiefNiveau"
                            [magResultatenInvoeren]="kolomResultaat.magResultatenInvoeren"
                            [magOpmerkingToevoegen]="kolomResultaat.magOpmerkingToevoegen"
                            [isActiveCell]="
                                isActiveCell(
                                    activeCell$.value,
                                    kolomResultaat.matrixKolom.resultaatkolom.id
                                        | resultaatKey: leerling.uuid : kolomResultaat.matrixKolom.herkansingsNummer
                                )
                            ">
                        </dt-toetskolom-icons>
                        <dt-resultaat-cell
                            class="resultaat-cell"
                            #cel
                            [id]="
                                kolomResultaat.matrixKolom.id | resultaatKey: leerling.uuid : kolomResultaat.matrixKolom.herkansingsNummer
                            "
                            [resultaatkolom]="kolomResultaat.matrixKolom.resultaatkolom"
                            [resultaat]="kolomResultaat.resultaat!"
                            [alternatiefNiveau]="alternatiefNiveau"
                            [missendeToets]="kolomResultaat.missendeToets"
                            [readOnly]="!kolomResultaat.magResultatenInvoeren"
                            [inputDisabledBijResultaatLabels]="false"
                            [kolomHerkansingsNummer]="kolomResultaat.matrixKolom.herkansingsNummer"
                            [opmerkingToevoegenToegestaan]="kolomResultaat.magOpmerkingToevoegen"
                            (onNieuwResultaat)="
                                onNieuwResultaat(
                                    $event.resultaatInput,
                                    $event.isCijfer,
                                    $event.selecteerCellNaOpslaan,
                                    leerling.uuid,
                                    alternatiefNiveau
                                        ? kolomResultaat.resultaat?.formattedResultaatAfwijkendNiveau
                                        : kolomResultaat.resultaat?.formattedResultaat,
                                    kolomResultaat.matrixKolom
                                )
                            ">
                        </dt-resultaat-cell>
                    </div>
                }
                @for (kolomResultaat of periodeResultaten.adviesResultaten; track trackByKolomResultaatId($index, kolomResultaat)) {
                    <div
                        class="advieskolommen"
                        [class.active]="
                            isActiveCell(
                                activeCell$.value,
                                kolomResultaat.matrixKolom.resultaatkolom.id
                                    | resultaatKey: leerling.uuid : kolomResultaat.matrixKolom.herkansingsNummer
                            )
                        ">
                        <div class="kolom-letter text-content-bold bg-accent-weak fg-on-accent-weak">A</div>
                        <div class="ellipsis text-content-small-semi">
                            <span>{{ kolomResultaat.matrixKolom.resultaatkolom.code }}</span
                            ><span class="text-weak"> • {{ $any(kolomResultaat.matrixKolom.resultaatkolom).categorie }}</span>
                            <br />
                            <span class="text-weak">{{ kolomResultaat.matrixKolom.resultaatkolom.omschrijving }}</span>
                        </div>
                        <dt-toetskolom-icons
                            [basisResultaat]="kolomResultaat"
                            [leerling]="leerling"
                            [matrixKolom]="kolomResultaat.matrixKolom"
                            [lesgroepId]="lesgroepId"
                            [alternatiefNiveau]="alternatiefNiveau"
                            [magResultatenInvoeren]="kolomResultaat.magResultatenInvoeren"
                            [magOpmerkingToevoegen]="kolomResultaat.magOpmerkingToevoegen"
                            [isActiveCell]="
                                isActiveCell(
                                    activeCell$.value,
                                    kolomResultaat.matrixKolom.resultaatkolom.id
                                        | resultaatKey: leerling.uuid : kolomResultaat.matrixKolom.herkansingsNummer
                                )
                            ">
                        </dt-toetskolom-icons>
                        <dt-resultaat-cell
                            class="resultaat-cell"
                            #cel
                            [id]="
                                kolomResultaat.matrixKolom.id | resultaatKey: leerling.uuid : kolomResultaat.matrixKolom.herkansingsNummer
                            "
                            [resultaatkolom]="kolomResultaat.matrixKolom.resultaatkolom"
                            [resultaat]="kolomResultaat.resultaat!"
                            [alternatiefNiveau]="alternatiefNiveau"
                            [missendeToets]="kolomResultaat.missendeToets"
                            [readOnly]="!kolomResultaat.magResultatenInvoeren"
                            [inputDisabledBijResultaatLabels]="false"
                            [kolomHerkansingsNummer]="kolomResultaat.matrixKolom.herkansingsNummer"
                            [opmerkingToevoegenToegestaan]="kolomResultaat.magOpmerkingToevoegen"
                            (onNieuwResultaat)="
                                onNieuwResultaat(
                                    $event.resultaatInput,
                                    $event.isCijfer,
                                    $event.selecteerCellNaOpslaan,
                                    leerling.uuid,
                                    alternatiefNiveau
                                        ? kolomResultaat.resultaat?.formattedResultaatAfwijkendNiveau
                                        : kolomResultaat.resultaat?.formattedResultaat,
                                    kolomResultaat.matrixKolom
                                )
                            ">
                        </dt-resultaat-cell>
                    </div>
                }
                <div class="gemiddeldekolommen periodegemiddelde">
                    <span class="kolom-letter text-content-bold bg-alternative-weak fg-on-alternative-weak">P</span>
                    <span class="text-content-small-semi">Periodegemiddelde</span>
                    <span class="resultaat text-content-semi">
                        {{
                            alternatiefNiveau
                                ? periodeResultaten.periodeGemiddelde?.resultaat?.formattedResultaatAfwijkendNiveau
                                : periodeResultaten.periodeGemiddelde?.resultaat?.formattedResultaat
                        }}
                    </span>
                </div>
                <div class="gemiddeldekolommen rapportgemiddelde">
                    <span class="kolom-letter text-content-bold bg-positive-weak fg-on-positive-weak">r</span>
                    <span class="text-content-small-semi">Berekend rapportcijfer</span>
                    <span class="resultaat text-content-semi">
                        {{
                            alternatiefNiveau
                                ? periodeResultaten.rapportGemiddelde?.resultaat?.formattedResultaatAfwijkendNiveau
                                : periodeResultaten.rapportGemiddelde?.resultaat?.formattedResultaat
                        }}
                    </span>
                </div>
                <div
                    class="gemiddeldekolommen rapportcijfer"
                    [class.active]="
                        isActiveCell(
                            activeCell$.value,
                            periodeResultaten.rapportCijfer?.matrixKolom?.resultaatkolom?.id
                                | resultaatKey: leerling.uuid : periodeResultaten.rapportCijfer?.matrixKolom?.herkansingsNummer
                        )
                    ">
                    <span class="kolom-letter text-content-bold bg-positive-weak fg-on-positive-weak">R</span>
                    <span class="text-content-small-semi">Rapportcijfer</span>
                    @if (periodeResultaten.rapportCijfer) {
                        <dt-toetskolom-icons
                            [basisResultaat]="periodeResultaten.rapportCijfer"
                            [leerling]="leerling"
                            [matrixKolom]="periodeResultaten.rapportCijfer.matrixKolom"
                            [lesgroepId]="lesgroepId"
                            [alternatiefNiveau]="alternatiefNiveau"
                            [magResultatenInvoeren]="periodeResultaten.rapportCijfer.magResultatenInvoeren"
                            [magOpmerkingToevoegen]="periodeResultaten.rapportCijfer.magOpmerkingToevoegen"
                            [isActiveCell]="
                                isActiveCell(
                                    activeCell$.value,
                                    periodeResultaten.rapportCijfer.matrixKolom.resultaatkolom.id
                                        | resultaatKey: leerling.uuid : periodeResultaten.rapportCijfer.matrixKolom.herkansingsNummer
                                )
                            ">
                        </dt-toetskolom-icons>
                    }
                    @if (!periodeResultaten.rapportCijfer?.magResultatenInvoeren) {
                        <span class="resultaat text-content-semi">
                            {{
                                alternatiefNiveau
                                    ? periodeResultaten.rapportCijfer?.resultaat?.formattedResultaatAfwijkendNiveau
                                    : periodeResultaten.rapportCijfer?.resultaat?.formattedResultaat
                            }}
                        </span>
                    }
                    @if (periodeResultaten.rapportCijfer && periodeResultaten.rapportCijfer.magResultatenInvoeren) {
                        <dt-resultaat-cell
                            class="resultaat-cell"
                            #cel
                            [id]="
                                periodeResultaten.rapportCijfer.matrixKolom.id
                                    | resultaatKey: leerling.uuid : periodeResultaten.rapportCijfer.matrixKolom.herkansingsNummer
                            "
                            [resultaatkolom]="periodeResultaten.rapportCijfer.matrixKolom.resultaatkolom"
                            [resultaat]="periodeResultaten.rapportCijfer.resultaat!"
                            [alternatiefNiveau]="alternatiefNiveau"
                            [missendeToets]="periodeResultaten.rapportCijfer.missendeToets"
                            [readOnly]="!periodeResultaten.rapportCijfer.magResultatenInvoeren"
                            [inputDisabledBijResultaatLabels]="false"
                            [kolomHerkansingsNummer]="periodeResultaten.rapportCijfer.matrixKolom.herkansingsNummer"
                            [opmerkingToevoegenToegestaan]="periodeResultaten.rapportCijfer.magOpmerkingToevoegen"
                            (onNieuwResultaat)="
                                onNieuwResultaat(
                                    $event.resultaatInput,
                                    $event.isCijfer,
                                    $event.selecteerCellNaOpslaan,
                                    leerling.uuid,
                                    alternatiefNiveau
                                        ? periodeResultaten.rapportCijfer.resultaat?.formattedResultaatAfwijkendNiveau
                                        : periodeResultaten.rapportCijfer.resultaat?.formattedResultaat,
                                    periodeResultaten.rapportCijfer!.matrixKolom
                                )
                            ">
                        </dt-resultaat-cell>
                    }
                </div>
            </div>
        }
        @if (onderwijssoortVoortgangsdossierNiveauOpties().length > 1) {
            <hmy-dropdown
                class="toetsdossier-selectie floating-options hide-for-tablet"
                [modalOnMobile]="true"
                [buttonHeight]="40"
                [withBorder]="false"
                [items]="onderwijssoortVoortgangsdossierNiveauOpties()"
                [selected]="selectedVoortgangsdossierNiveau()"
                (onSelectionChanged)="onNiveauClick($event)"
                data-gtm="voortgangsdossier-wisselen-niveau-onderwijssoort"
                listWidth="fit-options" />
        }
    </div>
</dt-sidebar>
