<dt-popup [attr.ga]="popupContext">
    <div class="container" popup-content>
        @if (aantalItems > 1) {
            <span class="aantal text-content-semi">{{ aantalItems }} items verwijderen?</span>
        }
        @if (aantalItems === 1) {
            <span class="aantal text-content-semi">1 item verwijderen?</span>
        }
        <dt-outline-button class="verwijderen" (click)="onVerwijderenClick()" icon="verwijderen" color="negative"
            >Verwijderen</dt-outline-button
        >
        <dt-outline-button class="annuleren" (click)="onCancel()" icon="sluiten" color="neutral"> Annuleren</dt-outline-button>
    </div>
</dt-popup>
