<dt-popup [attr.ga]="popupContext">
    <div class="container" popup-content>
        @if (aantalItems > 1) {
            <span class="aantal text-content-semi">{{ aantalItems }} items verwijderen?</span>
        }
        @if (aantalItems === 1) {
            <span class="aantal text-content-semi">1 item verwijderen?</span>
        }
        <dt-outline-button
            class="verwijderen"
            (click)="onVerwijderenClick()"
            icon="verwijderen"
            iconColor="accent_negative_1"
            color="accent_negative_1"
            >Verwijderen</dt-outline-button
        >
        <dt-outline-button class="annuleren" (click)="onCancel()" icon="sluiten" iconColor="typography_3" color="typography_3">
            Annuleren</dt-outline-button
        >
    </div>
</dt-popup>
