<dt-accordion [withShadow]="false" [showSideBorders]="true">
    <div class="title-content" title>
        <span>Actieve maatregelen</span>
        @if (aantalMaatregelToekenningen() > 0) {
            <hmy-notification-counter [count]="aantalMaatregelToekenningen()" color="warning" />
        }
    </div>
    <div body>
        @if (!loading()) {
            @if (maatregelToekenningen().length === 0) {
                <div class="geen-items text-content-small text-weak">Geen actieve maatregelen</div>
            }
            @for (toekenning of maatregelToekenningen(); track toekenning) {
                <dt-maatregeltoekenning
                    [maatregeltoekenning]="toekenning"
                    (afgehandeld)="onAfgehandeld($event)"
                    (bewerken)="openEditSidebar($event)"
                    (verwijderen)="onVerwijderen($event)">
                </dt-maatregeltoekenning>
            }
            <!-- '>' naast volledig overzicht moet blijven staan en is niet om de div te sluiten -->
            <div
                class="action-primary-normal text-content volledig-overzicht"
                (click)="onVolledigOverzicht($event)"
                cy="maatregelen-volledig-overzicht">
                Volledig overzicht ›
            </div>
        } @else {
            <hmy-spinner class="loader" />
        }
    </div>
</dt-accordion>
