<dt-sidebar class="sidebar" #sidebar [title]="vak.naam + ' · Resultaten'" (onMaskClick)="closeSidebar()" (onCloseClick)="closeSidebar()">
    <div class="periodes">
        @for (periode of periodes; track periode.nummer) {
            <div
                class="periode pointer"
                [class.active]="periode.nummer === (selectedPeriode$ | async)"
                (click)="selectPeriode(periode.nummer)">
                <span class="text-content-semi show-for-tablet">Periode {{ periode.nummer }}</span>
                <span class="text-content-semi hide-for-tablet">P{{ periode.nummer }}</span>
            </div>
        }
    </div>

    @if (vakResultaten$ | async; as vakResultaten) {
        <div class="resultaten">
            @if (toonKolommen(vakResultaten)) {
                @for (toetsKolom of vakResultaten.toetskolommen; track toetsKolom) {
                    <dt-mentordashboard-resultaat
                        class="resultaat"
                        [toetsKolom]="toetsKolom"
                        [resultaat]="
                            alternatieveNormering
                                ? toetsKolom.formattedHerkansing1Alternatief
                                    ? toetsKolom.formattedEerstePogingAlternatief
                                    : toetsKolom.formattedResultaatAlternatief
                                : toetsKolom.formattedHerkansing1
                                  ? toetsKolom.formattedEerstePoging
                                  : toetsKolom.formattedResultaat
                        "
                        [voldoende]="alternatieveNormering ? toetsKolom.isVoldoendeAlternatief : toetsKolom.isVoldoende"
                        [herkansingsNummer]="
                            alternatieveNormering
                                ? toetsKolom.formattedHerkansing1Alternatief
                                    ? 0
                                    : null
                                : toetsKolom.formattedHerkansing1
                                  ? 0
                                  : null
                        ">
                    </dt-mentordashboard-resultaat>
                    @if (alternatieveNormering ? toetsKolom.formattedHerkansing1Alternatief : toetsKolom.formattedHerkansing1) {
                        <dt-mentordashboard-resultaat
                            class="eersteHer"
                            [toetsKolom]="toetsKolom"
                            [resultaat]="
                                alternatieveNormering ? toetsKolom.formattedHerkansing1Alternatief : toetsKolom.formattedHerkansing1
                            "
                            [voldoende]="alternatieveNormering ? toetsKolom.isVoldoendeAlternatief : toetsKolom.isVoldoende"
                            [herkansingsNummer]="1">
                        </dt-mentordashboard-resultaat>
                    }
                    @if (alternatieveNormering ? toetsKolom.formattedHerkansing2Alternatief : toetsKolom.formattedHerkansing2) {
                        <dt-mentordashboard-resultaat
                            class="tweedeHer"
                            [toetsKolom]="toetsKolom"
                            [resultaat]="
                                alternatieveNormering ? toetsKolom.formattedHerkansing2Alternatief : toetsKolom.formattedHerkansing2
                            "
                            [voldoende]="alternatieveNormering ? toetsKolom.isVoldoendeAlternatief : toetsKolom.isVoldoende"
                            [herkansingsNummer]="2">
                        </dt-mentordashboard-resultaat>
                    }
                }
                @for (advies of vakResultaten.advieskolommen; track advies) {
                    <div class="advies">
                        <div class="top">
                            <div class="letter fg-on-accent-weak advies-letter text-content-bold">A</div>
                            <span class="text-content-semi afkorting">{{ advies.adviesKolomAfkorting }}</span>
                            @if (advies.geldendResultaat.opmerkingen) {
                                <span
                                    class="info-icon"
                                    [dtTooltip]="'<b>Opmerking</b><br>' + advies.geldendResultaat.opmerkingen"
                                    [alignCenter]="false"
                                    [onTouchAllowed]="true"
                                    hmyIcon="reacties"
                                    size="medium"></span>
                            }
                            <span class="text-content-semi resultaat">{{
                                getFormattedResultaat(
                                    alternatieveNormering
                                        ? advies.geldendResultaat.formattedResultaatAlternatief
                                        : advies.geldendResultaat.formattedResultaat
                                )
                            }}</span>
                        </div>
                        <div class="bottom">
                            <span class="text-content-small-semi text-weak omschrijving">{{ advies.adviesKolomNaam }}</span>
                        </div>
                    </div>
                }
                @if (vakResultaten.periodeGemiddeldeKolom; as periodeGemiddelde) {
                    <div class="periode-gemiddelde gemiddelde">
                        <div class="letter fg-on-alternative-weak periode-letter text-content-bold">P</div>
                        <span class="text-content-semi">Periodegemiddelde</span>
                        @if (periodeGemiddelde.opmerkingen) {
                            <i
                                class="info-icon"
                                [dtTooltip]="periodeGemiddelde.opmerkingen"
                                [onTouchAllowed]="true"
                                hmyIcon="reacties"
                                size="medium"></i>
                        }
                        <span
                            class="text-content-semi"
                            [class.onvoldoende]="
                                !(alternatieveNormering ? periodeGemiddelde.isVoldoendeAlternatief : periodeGemiddelde.isVoldoende)
                            ">
                            {{
                                getFormattedResultaat(
                                    alternatieveNormering
                                        ? periodeGemiddelde.formattedResultaatAlternatief
                                        : periodeGemiddelde.formattedResultaat
                                )
                            }}
                        </span>
                    </div>
                }
                @if (vakResultaten.rapportGemiddeldekolom; as rapportGemiddelde) {
                    <div class="rapport-gemiddelde gemiddelde">
                        <div class="letter fg-on-positive-weak rapport-letter text-content-bold">r</div>
                        <span class="text-content-semi">Berekend rapportcijfer</span>
                        @if (rapportGemiddelde.opmerkingen) {
                            <i
                                class="info-icon"
                                [dtTooltip]="rapportGemiddelde.opmerkingen"
                                [onTouchAllowed]="true"
                                hmyIcon="reacties"
                                size="medium"></i>
                        }
                        <span
                            class="text-content-semi"
                            [class.onvoldoende]="
                                !(alternatieveNormering ? rapportGemiddelde.isVoldoendeAlternatief : rapportGemiddelde.isVoldoende)
                            ">
                            {{
                                getFormattedResultaat(
                                    alternatieveNormering
                                        ? rapportGemiddelde.formattedResultaatAlternatief
                                        : rapportGemiddelde.formattedResultaat
                                )
                            }}
                        </span>
                    </div>
                }
                @if (vakResultaten.rapportCijferkolom; as rapportCijfer) {
                    <div class="rapportcijfer gemiddelde">
                        <div class="letter rapport-letter fg-on-positive-weak text-content-bold">R</div>
                        <span class="text-content-semi">Rapportcijfer</span>
                        @if (rapportCijfer.opmerkingen) {
                            <i
                                class="info-icon"
                                [dtTooltip]="rapportCijfer.opmerkingen"
                                [onTouchAllowed]="true"
                                hmyIcon="reacties"
                                size="medium"></i>
                        }
                        @if (rapportCijfer.bijzonderheid === resultaatBijzonderheid.NietGemaakt) {
                            <i
                                class="info-icon"
                                [onTouchAllowed]="true"
                                hmyIcon="waarschuwing"
                                size="medium"
                                dtTooltip="Gemiddelde waarbij toetsen missen"></i>
                        }
                        <span
                            class="text-content-semi"
                            [class.onvoldoende]="
                                !(alternatieveNormering ? rapportCijfer.isVoldoendeAlternatief : rapportCijfer.isVoldoende)
                            ">
                            {{
                                getFormattedResultaat(
                                    alternatieveNormering ? rapportCijfer.formattedResultaatAlternatief : rapportCijfer.formattedResultaat
                                )
                            }}
                        </span>
                    </div>
                }
            } @else {
                <span class="text-content-semi geen-resultaten text-weak">Geen resultaten</span>
            }
        </div>
    } @else {
        <hmy-spinner [centeredInParent]="true" />
    }
</dt-sidebar>
