<div class="stream-header">
    <dt-notitieboek-filter
        [(filterOptie)]="filterOptie"
        [(searchValue)]="searchValue"
        [(schooljaar)]="schooljaar"
        [context]="context()"
        [schooljaarOpties]="schooljaarOpties()" />
    @if (showTabs()) {
        <div class="tabs">
            <div class="tabs-filler-before" role="none"></div>
            <hmy-tab-row [tabs]="tabs()" [activeTabLabel]="tab()" (activeTabChange)="onTabSelected($event)" />
            <div class="tabs-filler-after" role="none"></div>
        </div>
    }
</div>
@if (displayTijdlijn()) {
    <dt-notitie-stream-tijdlijn
        [context]="context()"
        [huidigeSchooljaarSelected]="huidigeSchooljaarSelected()"
        [stream]="filteredStream$"
        [noNotities]="noNotities$ | async"
        [class.is-loading]="(filteredStream$ | async) ? false : true"
        [heeftMeerdereSchooljaren]="heeftMeerdereSchooljaren()" />
} @else if (displayTotalen()) {
    <dt-notitie-stream-totalen
        [(selectedLeerlingTotalen)]="selectedLeerlingTotalen"
        [stream]="totalenStream$"
        [noTotalen]="noTotalen$ | async"
        [class.is-loading]="(totalenStream$ | async) ? false : true"
        [heeftMeerdereSchooljaren]="heeftMeerdereSchooljaren()" />
}
@if (huidigeSchooljaarSelected()) {
    <div class="nieuw-button-row hide-for-desktop">
        <dt-outline-button
            class="nieuw-button"
            [routerLink]="['./']"
            [queryParams]="{
                notitie: 'nieuw',
                edit: true,
                contextToevoegen: null,
                scrollto: null
            }"
            [wordWrap]="true"
            icon="toevoegen"
            color="positive"
            queryParamsHandling="merge"
            data-gtm="notitieboek-notitie-toevoegen">
            Nieuw
        </dt-outline-button>
    </div>
}
