<div
    class="navigatie-item"
    [routerLink]="navigatieItem.routerLink"
    [routerLinkActiveOptions]="{
        paths: navigatieItem.routerlinkExactMatch ? 'exact' : 'subset',
        queryParams: 'ignored',
        matrixParams: 'ignored',
        fragment: 'ignored'
    }"
    [attr.data-gtm]="navigatieItem.dataGtm"
    (click)="navigate()"
    routerLinkActive="is-active">
    <div class="container">
        <i class="icon" [hmyIcon]="navigatieItem.icon" [sizes]="['large', 'large', 'medium']"></i>
        <span class="titel text-content-semi show-for-tablet">{{ navigatieItem.titel }}</span>
        @if (navigatieItem.deeplink) {
            <i class="deeplink show-for-tablet" color="text-weakest" hmyIcon="link" size="small"></i>
        }
        @if (badge$ && badge$ | async; as value) {
            <div class="badge-indication hide-for-tablet"></div>
            <div class="badge-value show-for-tablet">
                <div class="number text-content-smallest-bold fg-on-warning-normal">{{ value }}</div>
            </div>
        }
    </div>
</div>
