@import 'global-variables';

.color-background-1 {
    color: $background-1;
}

.color-background-2 {
    color: $background-2;
}

.color-background-3 {
    color: $background-3;
}

.color-background-4 {
    color: $background-4;
}

.color-background-5 {
    color: $background-5;
}

.color-background-6 {
    color: $background-5;
}

.color-typography-1 {
    color: $typography-1;
}

.color-typography-2 {
    color: $typography-2;
}

.color-typography-3 {
    color: $typography-3;
}

.color-typography-4 {
    color: $typography-4;
}

.color-typography-5 {
    color: $typography-5;
}

.color-primary-1 {
    color: $primary-1;
}

.color-primary-2 {
    color: $primary-2;
}

.color-primary-3 {
    color: $primary-3;
}

.color-primary-4 {
    color: $primary-4;
}

.color-secondary-1 {
    color: $secondary-1;
}

.color-secondary-2 {
    color: $secondary-2;
}

.color-secondary-3 {
    color: $secondary-3;
}

.color-accent-positive-1 {
    color: $accent-positive-1;
}

.color-accent-positive-2 {
    color: $accent-positive-2;
}

.color-accent-positive-3 {
    color: $accent-positive-3;
}

.color-accent-negative-1 {
    color: $accent-negative-1;
}

.color-accent-negative-2 {
    color: $accent-negative-2;
}

.color-accent-negative-3 {
    color: $accent-negative-3;
}

.color-accent-warning-1 {
    color: $accent-warning-1;
}

.color-accent-warning-2 {
    color: $accent-warning-2;
}

.color-accent-warning-3 {
    color: $accent-warning-3;
}

.color-accent-alt-1 {
    color: $accent-alt-1;
}

.color-accent-alt-2 {
    color: $accent-alt-2;
}

.color-accent-alt-3 {
    color: $accent-alt-3;
}

.background-color-background-1 {
    background-color: $background-1;
}

.background-color-background-2 {
    background-color: $background-2;
}

.background-color-background-3 {
    background-color: $background-3;
}

.background-color-background-4 {
    background-color: $background-4;
}

.background-color-background-5 {
    background-color: $background-5;
}

.background-color-background-6 {
    background-color: $background-6;
}

.background-color-typography-1 {
    background-color: $typography-1;
}

.background-color-typography-2 {
    background-color: $typography-2;
}

.background-color-typography-3 {
    background-color: $typography-3;
}

.background-color-typography-4 {
    background-color: $typography-4;
}

.background-color-primary-1 {
    background-color: $primary-1;
}

.background-color-primary-2 {
    background-color: $primary-2;
}

.background-color-primary-3 {
    background-color: $primary-3;
}

.background-color-primary-4 {
    background-color: $primary-4;
}

.background-color-secondary-1 {
    background-color: $secondary-1;
}

.background-color-secondary-2 {
    background-color: $secondary-2;
}

.background-color-secondary-3 {
    background-color: $secondary-3;
}

.background-color-accent-positive-1 {
    background-color: $accent-positive-1;
}

.background-color-accent-positive-2 {
    background-color: $accent-positive-2;
}

.background-color-accent-positive-3 {
    background-color: $accent-positive-3;
}

.background-color-accent-negative-1 {
    background-color: $accent-negative-1;
}

.background-color-accent-negative-2 {
    background-color: $accent-negative-2;
}

.background-color-accent-negative-3 {
    background-color: $accent-negative-3;
}

.background-color-accent-warning-1 {
    background-color: $accent-warning-1;
}

.background-color-accent-warning-2 {
    background-color: $accent-warning-2;
}

.background-color-accent-warning-3 {
    background-color: $accent-warning-3;
}

.background-color-accent-alt-1 {
    background-color: $accent-alt-1;
}

.background-color-accent-alt-2 {
    background-color: $accent-alt-2;
}

.background-color-accent-alt-3 {
    background-color: $accent-alt-3;
}

.fill-background-1 {
    fill: $background-1;
}

.fill-background-2 {
    fill: $background-2;
}

.fill-background-3 {
    fill: $background-3;
}

.fill-background-4 {
    fill: $background-4;
}

.fill-background-5 {
    fill: $background-5;
}

.fill-background-6 {
    fill: $background-5;
}

.fill-typography-1 {
    fill: $typography-1;
}

.fill-typography-2 {
    fill: $typography-2;
}

.fill-typography-3 {
    fill: $typography-3;
}

.fill-typography-4 {
    fill: $typography-4;
}

.fill-typography-5 {
    fill: $typography-5;
}

.fill-primary-1 {
    fill: $primary-1;
}

.fill-primary-2 {
    fill: $primary-2;
}

.fill-primary-3 {
    fill: $primary-3;
}

.fill-primary-4 {
    fill: $primary-4;
}

.fill-secondary-1 {
    fill: $secondary-1;
}

.fill-secondary-2 {
    fill: $secondary-2;
}

.fill-secondary-3 {
    fill: $secondary-3;
}

.fill-accent-positive-1 {
    fill: $accent-positive-1;
}

.fill-accent-positive-2 {
    fill: $accent-positive-2;
}

.fill-accent-positive-3 {
    fill: $accent-positive-3;
}

.fill-accent-negative-1 {
    fill: $accent-negative-1;
}

.fill-accent-negative-2 {
    fill: $accent-negative-2;
}

.fill-accent-negative-3 {
    fill: $accent-negative-3;
}

.fill-accent-warning-1 {
    fill: $accent-warning-1;
}

.fill-accent-warning-2 {
    fill: $accent-warning-2;
}

.fill-accent-warning-3 {
    fill: $accent-warning-3;
}

.fill-accent-alt-1 {
    fill: $accent-alt-1;
}

.fill-accent-alt-2 {
    fill: $accent-alt-2;
}

.fill-accent-alt-3 {
    fill: $accent-alt-3;
}
