@import 'global-variables';
@import 'mixins';
@import 'breakpoints';

.label-pill-dark {
    @include label-pill;
    color: var(--fg-on-primary-normal);

    background-color: var(--bg-primary-strong);
}

.label-pill-light {
    @include label-pill;
    color: var(--fg-on-primary-normal);

    background-color: var(--bg-primary-normal);
}

.label-pill-lighter {
    @include label-pill-lighter;
}

.label-pill-lightest {
    @include label-pill-lightest;
}

.label-pill-positive {
    @include label-pill;
    color: var(--fg-on-positive-weak);
    border: var(--thinnest-solid-positive-normal);

    background-color: var(--bg-positive-weak);

    i {
        fill: var(--fg-on-positive-weak);
    }
}

.label-pill-negative {
    @include label-pill;
    color: var(--fg-on-negative-weak);
    border: var(--thinnest-solid-negative-normal);

    i {
        fill: var(--fg-on-negative-weak);
    }

    background-color: var(--bg-negative-weak);

    &.pill-hoverable:hover {
        color: var(--fg-on-negative-normal);

        background-color: var(--bg-negative-normal);
        border: unset;

        i {
            fill: var(--fg-on-negative-normal);
        }
    }
}

.label-pill-typography {
    @include label-pill;
    color: var(--fg-on-neutral-weak);

    background-color: var(--bg-neutral-weak);
}

.label-pill-warning {
    @include label-pill;
    color: var(--fg-on-warning-normal);

    background-color: var(--bg-warning-normal);
}

.label-pill-warning-light {
    @include label-pill;
    color: var(--fg-on-warning-weak);

    background-color: var(--bg-warning-weak);
}

.label-pill-secondary {
    @include label-pill;
    color: var(--fg-on-accent-weak);
    border: var(--thinnest-solid-accent-normal);

    background-color: var(--bg-accent-weak);

    /* Kan ook niet eerder dan .label-pill-negative i (circulair) */
    /* stylelint-disable-next-line no-descending-specificity */
    i {
        fill: var(--fg-on-accent-weak);
    }

    &.pill-hoverable:hover {
        color: var(--fg-on-accent-normal);

        background-color: var(--bg-accent-normal);
        border: unset;

        i {
            fill: var(--fg-on-accent-normal);
        }
    }
}

.label-pill-background {
    @include label-pill;
    color: var(--fg-on-neutral-weak);
    border: var(--thinnest-solid-neutral-weak);

    background-color: var(--bg-neutral-weak);
}

.label-block {
    @include text-content-bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 24px;
    padding: 1px 8px;

    color: var(--fg-on-accent-normal);

    background-color: var(--bg-accent-normal);
    border-radius: var(--br-normal);
}

@include breakpoint(desktop) {
    .label-pill-warning,
    .label-pill-typography,
    .label-pill-dark,
    .label-pill-light,
    .label-pill-lighter,
    .label-pill-lightest,
    .label-pill-positive,
    .label-pill-negative,
    .label-pill-background {
        height: 20px;
    }
}
