@import 'breakpoints';

.label-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 24px;
    padding: 1px 8px;

    color: var(--fg-on-accent-normal);
    font: var(--body-content-bold);

    background-color: var(--bg-accent-normal);
    border-radius: var(--br-normal);
}
