@import 'breakpoints';

@mixin nt-large {
    width: 20px;
    height: 20px;

    border-radius: var(--br-max);
}

@mixin nt-small {
    width: 12px;
    height: 12px;

    border-radius: var(--br-max);
}

@mixin nt-smallest {
    width: 8px;
    height: 8px;

    border-radius: var(--br-max);
}

@mixin nt-counter {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;

    font: var(--body-content-smallest-semi);
}

.notificatie-counter {
    @include nt-large;
    @include nt-counter;
    color: var(--fg-on-warning-normal);

    background-color: var(--bg-warning-normal);
}

.notificatie-counter-alt {
    @include nt-large;
    @include nt-counter;
    color: var(--fg-on-primary-weak);

    background-color: var(--bg-primary-weak);
}

.notificatie-counter-alt-2 {
    @include nt-large;
    @include nt-counter;
    color: var(--fg-on-positive-weak);

    background-color: var(--bg-positive-weak);
}

.notificatie-small {
    @include nt-small;
    background-color: var(--bg-primary-normal);
}

.notificatie-small-alt {
    @include nt-small;
    background-color: var(--bg-warning-normal);
}

.notificatie-small-alt-2 {
    @include nt-small;
    background-color: var(--bg-accent-normal);
}

.notificatie-small-alt-3 {
    @include nt-small;
    background-color: var(--bg-alternative-normal);
}

.notificatie-smallest {
    @include nt-smallest;
    background-color: var(--bg-primary-normal);
}

.notificatie-smallest-alt {
    @include nt-smallest;
    background-color: var(--bg-warning-normal);
}

.notificatie-smallest-alt-2 {
    @include nt-smallest;
    background-color: var(--bg-accent-normal);
}

.notificatie-smallest-alt-3 {
    @include nt-smallest;
    background-color: var(--bg-alternative-normal);
}

.notificatie-check {
    @include nt-large;
    background-color: var(--bg-neutral-none);
    background-image: url('/assets/img/check.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px 16px;

    @include breakpoint(desktop) {
        width: 16px;
        height: 16px;

        background-size: 12px 12px;
    }
}
