<dt-sidebar
    [title]="sidebarTitle"
    [icon]="sidebarIcon"
    (onMaskClick)="sidebarService.closeSidebar()"
    (onCloseClick)="sidebarService.closeSidebar()">
    <div class="container">
        <dt-sjabloon-selectie
            [heeftVerdieping]="false"
            [selectedSjablonen]="geselecteerdeSjablonen"
            [displayCheckbox]="true"
            [alleenEigenSjablonen]="true"
            [negeerSjablonen]="[bronSjabloon]"
            (onSelect)="selecteerSjabloon($event)">
            <ng-content></ng-content>
        </dt-sjabloon-selectie>
        <div class="buttons">
            <dt-outline-button class="annuleren" (click)="sidebarService.closeSidebar()" color="neutral">Annuleren </dt-outline-button>
            <hmy-button
                class="submit"
                [label]="geselecteerdeSjablonen.length === 0 ? buttonText : '(' + geselecteerdeSjablonen.length + ') ' + buttonText"
                [disabled]="geselecteerdeSjablonen.length === 0"
                (click)="onSubmitClick()"
                type="submit" />
        </div>
    </div>
</dt-sidebar>
