<dt-popup>
    <div popup-content>
        <div class="header show-for-phone-only">
            <span class="text-content-small-semi">Maak sjabloon</span>
        </div>

        <div class="buttons show-for-phone-only" data-gtm="sjabloon-zichtbaarheid-overzicht">
            <dt-outline-button class="maak-zichtbaar-button" (click)="setGedeeld(true)" icon="zichtbaarCheckbox">
                Zichtbaar voor collega's
            </dt-outline-button>
            <dt-outline-button class="maak-onzichtbaar-button" (click)="setGedeeld(false)" icon="nietZichtbaarCheckbox" color="negative">
                Niet zichtbaar voor collega's</dt-outline-button
            >
        </div>

        <div class="links hide-for-phone-only text-content-small-semi" data-gtm="sjabloon-zichtbaarheid-overzicht">
            <dt-link class="optie maak-zichtbaar" (click)="setGedeeld(true)" icon="zichtbaarCheckbox" size="medium">
                <span>Zichtbaar voor collega's</span>
            </dt-link>
            <dt-link class="optie maak-onzichtbaar" (click)="setGedeeld(false)" icon="nietZichtbaarCheckbox" size="medium" color="negative">
                <span>Niet zichtbaar voor collega's</span>
            </dt-link>
        </div>
    </div>
</dt-popup>
