<dt-popup>
    <div popup-content>
        @if (resultaten.rapportCijferkolom) {
            <div class="item-container show-border">
                <div class="item-icon icon-rapportcijfer">R</div>
                <div class="item-description">Rapportcijfer</div>
                <div class="item-result">{{ resultaten.rapportCijferkolom.formattedResultaat }}</div>
            </div>
        }

        @if (resultaten.rapportGemiddeldekolom) {
            <div class="item-container show-border">
                <div class="item-icon icon-rapportcijfer">r</div>
                <div class="item-description">Berekend rapportcijfer</div>
                <div class="item-result">{{ resultaten.rapportGemiddeldekolom.formattedResultaat }}</div>
            </div>
        }

        @if (resultaten.periodeGemiddeldeKolom) {
            <div class="item-container show-border">
                <div class="item-icon icon-periodegemiddelde">P</div>
                <div class="item-description">Periodegemiddelde</div>
                <div class="item-result">{{ resultaten.periodeGemiddeldeKolom.formattedResultaat }}</div>
            </div>
        }

        @if (resultaten.advieskolommen.length) {
            @for (advieskolom of resultaten.advieskolommen; track $index) {
                <div class="item-container show-border">
                    <div class="item-icon icon-advieskolom">A</div>
                    <div class="item-description">{{ advieskolom.adviesKolomAfkorting }}</div>
                    <div class="item-result">{{ advieskolom.geldendResultaat.formattedResultaat }}</div>
                </div>
            }
        }
    </div>
</dt-popup>
