<dt-sidebar (onMaskClick)="sidebar.onMaskClick?.()" (onCloseClick)="sidebar.onCloseClick?.()" title="Indicaties">
    <div class="content">
        @if (heeftBijzonderheden) {
            <div class="header text-content-semi">Bijzonderheden</div>
        }
        @for (beperking of beperkingenMetTooltip; track beperking) {
            <div class="bijzonderheid item">
                <i color="fg-primary-normal" hmyIcon="zorgindicaties" size="medium"></i>
                <span class="naam">{{ beperking.naam }}</span>
                @if (beperking.tooltip) {
                    <i
                        class="informatie"
                        [dtTooltip]="beperking.tooltip"
                        [alignCenter]="false"
                        [onTouchAllowed]="true"
                        [position]="'left'"
                        color="action-neutral-weak"
                        hmyIcon="informatie"
                        size="small"></i>
                }
            </div>
        }
        @if (heeftOoHulpmiddelen) {
            <div class="header text-content-semi">OOHulpmiddelen</div>
        }
        @for (hulpmiddel of hulpmiddelenMetTooltip; track hulpmiddel) {
            <div class="hulpmiddel item">
                <i color="fg-positive-normal" hmyIcon="oOhulpmiddelen" size="medium"></i>
                <span class="naam">{{ hulpmiddel.naam }}</span>
                @if (hulpmiddel.tooltip) {
                    <i
                        class="informatie"
                        [dtTooltip]="hulpmiddel.tooltip"
                        [alignCenter]="false"
                        [onTouchAllowed]="true"
                        [position]="'left'"
                        color="action-neutral-weak"
                        hmyIcon="informatie"
                        size="small"></i>
                }
            </div>
        }
        @if (heeftInterventies) {
            <div class="header text-content-semi">NPO interventies</div>
        }
        @for (interventie of interventiesMetTooltip; track interventie) {
            <div class="interventie item">
                <i color="fg-accent-normal" hmyIcon="interventies" size="medium"></i>
                <span class="naam">{{ interventie.naam }}</span>
                <i
                    class="informatie"
                    [dtTooltip]="interventie.tooltip"
                    [alignCenter]="false"
                    [onTouchAllowed]="true"
                    [position]="'left'"
                    color="action-neutral-weak"
                    hmyIcon="informatie"
                    size="small"></i>
            </div>
        }
    </div>
</dt-sidebar>
